<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.greengram.user.UserMapper">
    <select id="selTest">
        SELECT user_id AS userId, uid, upw, nm, pic, created_at AS createdAt, updated_at AS updatedAt
        FROM user
        <where>
            <if test="userId > 0">
                user_id = #{userId}
            </if>
        </where>
    </select>
    <insert id="insUser" useGeneratedKeys="true" keyProperty="userId">
        INSERT INTO user
        SET uid = #{uid}
            , upw = #{upw}
            , nm = #{nm}
            , pic = #{pic}
    </insert>

    <select id="getUser">
        SELECT user_id AS userId, uid, upw, nm, pic, created_at AS createdAt, updated_at AS updatedAt
        FROM user
        WHERE uid = #{uid}
    </select>

    <select id="selProfileUserInfo">
        SELECT A.nm, A.pic, A.created_at AS createdAt,  COUNT(DISTINCT B.feed_id) AS feedCnt
        ,  count(C.feed_id) AS favCnt, D.`following`, D.follower, D.followState
        FROM user A
        left JOIN feed B
        ON A.user_id = B.writer_id
        LEFT JOIN feed_favorite C
        ON B.feed_id = C.feed_id
        JOIN (
        SELECT SUM(IF(from_user_id = #{profileUserId}, 1, 0)) AS `following`,
        SUM(IF(to_user_id = #{profileUserId}, 1, 0)) AS follower,
        SUM(
        IF(from_user_id = #{profileUserId} AND to_user_id = #{signedUserId}, 1, 0) +
        IF(from_user_id = #{signedUserId} AND to_user_id = #{profileUserId}, 2, 0)
        ) AS followState
        FROM user_follow
        ) D
        WHERE A.user_id = #{profileUserId}
    </select>

    <update id="updProfilePic">
        UPDATE user
        SET pic = #{picName}
        WHERE user_id = #{signedUserId}
    </update>

</mapper>